@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Home";
}

<div class="hero-section">
    <div class="hero-overlay">
        <h1 class="display-4">Welcome to Zenless Zone Zero! </h1>
        <p class="lead">Learn about characters, news, media, and more!</p>
    </div>
</div>

